ul {
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

ul li:hover {
	box-shadow: 0 10px 20px rgb(1 54 134 / 20%);
}

.d-flex {
	display: flex;
	flex-wrap: wrap;
}

.wrapper {
	width: 500px;
	border: 1px solid #273AB8;
	margin: 0 auto;
	border-radius: 5px;
	padding-bottom: 10px;
}

.display {
	width: 90%;
	height: 50px;
	border: 1px solid #836CF0;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.display p {
	text-align: right;
    padding-right: 20px;
    font-weight: 700;
}

.display ul {
	justify-content: flex-end;
	padding-right: 20px;
	margin-top: 5px;
	margin-bottom: 0;
}

.numbers {
	width: 70%;
	border-right: 1px solid  #836CF0;
}

.numbers ul {
	width:300px;
}

.numbers ul li {
	border: 1px solid  #836CF0;
    border-radius: 5px;
    text-align: center;
    width: 25%;
    display: block;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 20px;
    padding: 4px;
    background-color: #6B54BF;
    color: #fff;
}

.operators ul li{
	height: 25px;
    border: 1px solid  #836CF0;
    width: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
}